/* =============================================================================
   outbox styles
   ========================================================================== */

#content {
  position: relative;
  border: 1px solid #a0a0a0;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#canvas_ovl {
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0;
  margin: 0;
}

.suitebox {
  clear: both;
  margin-bottom: 1em;
}

.suitebox .name {
  margin-left: 200px;
  font-weight: bold;  
}

.outbox {
  background-color: #f4f4f4;

  margin-top:    0px;
  margin-bottom: 0px;
  margin-left: 200px;
  
  /* Maybe we should now wrap? */
  white-space: pre; 
  white-space: pre-wrap; 
  word-wrap: break-word;
}

.outbox .test .side {
  float: left;
  width: 0;
  clear: both;
}

.outbox .test .side > div {
  position: relative;
  right: 200px;
  width: 180px;
  text-align: right;
  font-size: .75em;
  margin-bottom: 2px;
}

.outbox .test .side > div > span {
  border: 1px solid gray;
  background-color: yellow;
}

.outbox .test .start {
  position: absolute;
  background-color: blue;
  width: 3px;
  height: 3px;
}

.outbox .out {
  color: black;
}

.outbox .err {
  color: red;
}

.highlight {
  background-color: #a0e0a0;
}
